.avatar-comment-container-showcomment-comp {
	display: flex;
	align-items: center;
}

.avatar-comment-container-showcomment-comp p {
	display: inline-block;
	border-radius: 10px;
	background-color: #eeeeee;
	padding: 5px;
}

.comment-replies {
	display: inline-block;
	cursor: pointer;
	color: blue;
	margin-left: 10px;
}

.reply-btn {
	color: #e91e63;
}

.reply-btn:hover {
	background-color: #fff;
	color: #e91e63;
}

.comment-replies:hover {
	text-decoration: underline #e91e63;
}

.avatar-comment-container-showcomment-comp .commentor {
	display: block;
	font-weight: 600;
	margin-bottom: 5px;
	cursor: pointer;
}

.avatar-comment-container-showcomment-comp .commentor:hover {
	text-decoration: underline;
}

.view-more-comments {
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
	color: #e91e63;
}

.view-more-comments:hover {
	text-decoration: underline;
}
