#avatar-comment-container {
    display: flex;
    align-items: center;
}

#avatar-comment-container p {
    display: inline-block;
    border-radius: 10px;
    background-color: #eeeeee;
    padding: 5px;
}

#avatar-comment-container #commentor {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    cursor: pointer;
}

#avatar-comment-container #commentor:hover {
    text-decoration: underline;
}

.view-more-comments {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    color: #e91e63;
}

.view-more-comments:hover {
    text-decoration: underline;
}