.profile {
    position: relative;
}

.profile #cover {
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    object-fit: contain;
    height: auto;
}

.profile #profile-avatar {
    position: absolute;
    width: auto;
    height: 180px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 20px;

    right: 0px;

    bottom: 10px;
}

.shared-photos {
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
}

@media only screen and (max-width:748px) {
    .profile #profile-avatar {
        height: 100px;
        margin-right: 5px;
    }
}

@media only screen and (max-width:535px) {
    .shared-photos {
        font-size: 20px;
    }
}

@media only screen and (max-width:450px) {
    .shared-photos {
        font-size: 16px;
    }
}