#timeline-picture-card {
    border-radius: 5px;

}

.timeline-picture-avatar-container {
    display: flex;
    align-items: center;
}

.like-comment-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likes {
    cursor: pointer;
    color: blue;
}

.likes:hover {
    text-decoration: underline blue;
}

.username {
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;

}