.login-container {
  background-image: url('./assets/img/cam6.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* border: hidden; */
  background-repeat: no-repeat;
  font-family: cursive;
  /* min-height: 800px;
	object-fit: cover; */
}

.timeline-picture-card {
  border-radius: 5px;
}

.btn-auth {
  color: #e91e63;
  font-family: cursive;
}

.comment-btn {
  color: #e91e63;
  font-family: cursive;
  background-color: #eee;
  border-radius: 10px;
}

.comment-btn:hover {
  background-color: #eee;
}

.like-btn {
  color: #e91e63;
  font-family: cursive;
  background-color: #eee;
  border-radius: 10px;
}

.like-btn:hover {
  background: #eeeeee;
}

.unlike-btn {
  color: blue;
  font-family: cursive;
}

.unlike-btn:hover {
  background: #fff;
}

.btn-auth:hover {
  background-color: #e91e63;
  color: #fff;
}

#modal-title {
  margin-bottom: 20px;
}

.sign-out {
  transition: background-color 0.3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

.sign-out:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sign-out .fa-sign-out-alt {
  /* line-height: normal !important;
  height: 0px; */
  height: auto !important;
  line-height: inherit !important;
}

#notifications {
  position: relative;
  height: 56px;
}

#notifications i {
  display: inline-block !important;
  /* line-height: normal;
  height: 0px;
  padding-top: 15px; */
  height: auto;
  line-height: inherit;
}

#notifications-value {
  background: blue;
  border-radius: 5px;
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  top: -15px;
  left: -8px;
  padding: 4px;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
  box-shadow: none !important;
}

.materialize-textarea {
  resize: auto !important;
}

.home i {
  height: auto !important;
  line-height: inherit !important;
}

span {
  margin: 0px;
  padding: 0px;
}

.nav-wrapper i {
  font-size: 21px !important;
}

.fa-user-circle {
  height: auto !important;
  line-height: inherit !important;
}

.fas {
  display: block !important;
}

#search {
  border-bottom: solid 2px #fff;
  color: #fff;
  width: 100px;
}

#search::placeholder {
  color: #fff;
}

@media only screen and (min-width: 601px) {

  /* body {
    background-color: black
  } */
  #notifications {
    height: 64px !important;
  }
}

/* body {
	overflow: hidden;
} */