.login-container {
  background-image: url('./assets/img/cam6.jpeg');
  background-size: contain;
  background-position: unset;
  border: hidden;
  font-family: cursive;

}

.btn-auth {
  color: #e91e63;
  font-family: cursive;
}

.btn-auth:hover {
  background-color: #e91e63;
  color: #fff;
}